@model IEnumerable<Monitor.Models.Site>

@{
    ViewBag.Title = "Сайты";
}
<div class="container">
    <ol class="breadcrumb">
        <li><a asp-area="" asp-action="Index" asp-controller="Home">Домой</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="glyphicon glyphicon-link"></span> @ViewBag.Title</div>
            <table class="table">
                <tr>
                    <th>Сайт</th>
                    <th>Обновление</th>
                    <th>Действия</th>
                </tr>

                @foreach (var Site in Model)
                {
                    <tr>
                        <td>@Site.Name</td>
                        <td>@Site.RefreshTime ms</td>
                        <td>
                            <a asp-controller="Sites" asp-action="Details" asp-route-id="@Site.Id"><span class="glyphicon glyphicon-eye-open"></span></a> |
                            <a asp-controller="Sites" asp-action="Edit" asp-route-id="@Site.Id"><span class="glyphicon glyphicon-pencil"></span></a> |
                            <a asp-controller="Sites" asp-action="Delete" asp-route-id="@Site.Id"><span class="glyphicon glyphicon-trash"></span></a>
                        </td>
                    </tr>
                }
            </table>
        </div>
        <div class="form-group">
            <a class="btn btn-primary btn-lg btn-block" asp-controller="Sites" asp-action="Create" role="button">Добавить</a>
        </div>
    </div>
</div>
