@model Monitor.Models.Role
@using Monitor.Services
@{
    ViewBag.Title = ResourceProvider.GetResource("Adding");
}
<div class="container">
    <ol class="breadcrumb">
        <li><a asp-action="Index" asp-controller="Home">@ResourceProvider.GetResource("Home")</a></li>
        <li><a asp-action="Index" asp-controller="Roles">@ResourceProvider.GetResource("Currency")</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
    <div class="container-fluid">
        <form asp-action="Create">
            <div class="panel panel-default">
                <div class="panel-heading">@ResourceProvider.GetResource("Adding")</div>
                <div class="panel-body">
                    <div class="validation" asp-validation-summary="ModelOnly"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label">@ResourceProvider.GetResource("Role")</label>
                        <input type="text" asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-lg btn-block">@ResourceProvider.GetResource("Add")</button>
            </div>
            <a asp-action="Index" asp-controller="Roles" class="btn btn-primary btn-lg btn-block" role="button">@ResourceProvider.GetResource("Back")</a>
        </form>
    </div>
</div>
