@model Monitor.Models.User
@using Monitor.Services
@{
    ViewBag.Title = ResourceProvider.GetResource("User");
}
<div class="container">
    <ol class="breadcrumb">
        <li><a asp-action="Index" asp-controller="Home">@ResourceProvider.GetResource("Home")</a></li>
        <li><a asp-action="Index" asp-controller="Users">@ResourceProvider.GetResource("Users")</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="glyphicon glyphicon-eye-open"></span> @ResourceProvider.GetResource("ExtendedInfo")</div>
            <table class="table">
                <tbody>
                    <tr>
                        <th scope="row">@ResourceProvider.GetResource("Identifier")</th>
                        <td>@Model.Id</td>
                    </tr>
                    <tr>
                        <th scope="row">@ResourceProvider.GetResource("FirstName")</th>
                        <td>@Model.FirstName</td>
                    </tr>
                    <tr>
                        <th scope="row">@ResourceProvider.GetResource("Patronymic")</th>
                        <td>@Model.Patronymic</td>
                    </tr>
                    <tr>
                        <th scope="row">@ResourceProvider.GetResource("LastName")</th>
                        <td>@Model.LastName</td>
                    </tr>
                    <tr>
                        <th scope="row">@ResourceProvider.GetResource("Role")</th>
                        <td>@Model.Role.Name</td>
                    </tr>
                    <tr>
                        <th scope="row">@ResourceProvider.GetResource("Login") </th>
                        <td>@Model.Login</td>
                    </tr>
                    <tr>
                        <th scope="row">@ResourceProvider.GetResource("Password") </th>
                        <td>@Model.Password</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="form-group">
            <a asp-action="Edit" class="btn btn-primary btn-lg btn-block" asp-route-id="@Model.Id">@ResourceProvider.GetResource("Edit")</a>
        </div>
        <a asp-action="Index" asp-controller="Users" class="btn btn-primary btn-lg btn-block" role="button">@ResourceProvider.GetResource("Back")</a>
    </div>
</div>
